server:
  port: 10086

spring:
  application:
    name: UniMatch
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://{ip}:3306/uni_match?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true&rewriteBatchedStatements=true&allowMultiQueries=true
    username: Cra2iTeT
    password: L1tTlE+++
  redis:
    port: 6379
    password: pwd
    host: ip
#  rabbitmq:
#    host: 192.168.150.13
#    port: 5672
#    username: root
#    password: 123456
#    virtual-host: /
#    listener:
#      direct:
#        acknowledge-mode: manual
#      simple:
#        acknowledge-mode: manual #采取手动应答
#        #concurrency: 1 # 指定最小的消费者数量
#        #max-concurrency: 1 #指定最大的消费者数量
#        retry:
#          enabled: true # 是否支持重试

mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:/mapper/*.xml

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDeleted
      logic-delete-value: 1
      logic-not-delete-value: 0
  mapper-locations: classpath:/mapper/*.xml